
.header{
    text-align: center;
    margin: 0;
}
.divFix{
    width: 95px;
}
.firstScreen{
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%);
}
.firstScreenBtn{
    margin-right: 20px;
}
.aboveTheTable{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.addBtn{
}
.arrow{
    width: 9px;
}
.row:hover{
    background: lightgrey;
    cursor: pointer;
}
.notFound{
    text-align: center;
}
.paginator{
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}
.createUser{
    display: flex;
}
.form{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 20px 0;
}
.item{
    border: 1px solid lightgrey;
    border-radius: 3px;
    padding: 6px;
    margin-left: 10px;
}
.item:first-child{
     margin-left: 0;
 }
.property{
    display: flex;
    justify-content: space-between;
}
.table thead tr th{
    user-select: none;
}
.table thead tr th:hover{
    cursor: pointer;
    background: #bbbbbb;
}