
.header{
    text-align: center;
    margin: 0;
}
.divFix{
    width: 95px;
}
.aboveTheTable{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.addBtn{
}
.arrow{
    width: 9px;
}
.row1:hover,.row2:hover,.row3:hover{
    background: lightgrey;
    cursor: pointer;
}
.paginator{
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}
.createUser{
    display: flex;
}
.form{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 20px 0;
}
.item{
    border: 1px solid lightgrey;
    border-radius: 3px;
    padding: 6px;
    margin-left: 10px;
}
.item:first-child{
     margin-left: 0px;
 }